.faq {
  background-color: #ffffff;
  &__rightImg {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    background-image: url('img/faqrightimg.png');
  }

&-content {
  .container {
    position: relative;
    top: -24px;
    background: white;
    padding-left: 48px;
    padding-top: 36px;
    padding-right: 48px;
  }
}

  &-accordian {
    padding-right: 48px;
  }

&--accordian {
  &__cat {
    &--single {
      border-bottom: 1px solid #D9D9D9;
      display: flex;
      align-items: center;
      height: 75px;
      padding-left: 8px;
      position: relative;
      cursor: pointer;
      transition: all 0.25s ease-in-out;



      span {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
      }



      &:after {
        content: ' ';
        background-image: url('img/faqdownarrow.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 14px;
        width: 14px;
        position: absolute;
        top: 33px;
        right: 20px;
      }
    }
  }
}


}

.single-product {
  &__modaal {

  }
}
